<h1>Questions#answer</h1>
<div>
  <p><%= @question %></p>
  <p>Your question</p>
</div>

<br>
<br>

<div>
  <p><%= @result %></p>
  <p>Coach's answer</p>
</div>

<%= link_to "Ask a new question", ask_path %>
